apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: mealie
  name: mealie
  namespace: mealie
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mealie
  template:
    metadata:
      labels:
        app: mealie
    spec:
      containers:
        - image: ghcr.io/mealie-recipes/mealie:v3.10.1
          name: nginx
          ports:
            - containerPort: 9000
          volumeMounts:
            - mountPath: /app/data/
              name: mealie-volume
      volumes:
        - name: mealie-volume
          persistentVolumeClaim:
            claimName: mealie-data
